@import 'styling/constants';

.player {
	grid-area: player;

	display: grid;
	grid-template-columns: 50px 1fr 50px;
	grid-template-rows: 10px 1fr;
	background-image: linear-gradient($highlight-1, $highlight-2);

	width: 100vw;

	grid-template-areas:
		"player-image player-bar player-bar"
		"player-image player-description player-button";

	color: $main;
}

.player-description {
	grid-area: player-description;
	padding-left: 5px;

	& h2 {
		font-weight: bold;
	}

	& p {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr auto;

	grid-template-areas:
		"player-description-title player-description-title"
		"player-description-subtitle player-description-time";

	& .player-description-title {
		grid-area: player-description-title;

		font-weight: bold;
		@include overflowEllipse();
	}

	& .player-description-subtitle {
		grid-area: player-description-subtitle;
		@include overflowEllipse();
	}

	& .player-description-time {
		grid-area: player-description-time;
		font-family: 'Roboto Mono';
		font-size: 0.75rem;
	}
}

.player-button {
	grid-area: player-button;
	@include centerContent();

	& svg {
		cursor: pointer;
	}
}

.player-image {
	grid-area: player-image;

	& img {
		@include imageFit();
	}
}

.player-bar {
	grid-area: player-bar;
	padding: 2.5px;
}

.player-bar-inner {
	background-color: lighten($highlight-1, 15%);
	height: 100%;
	width: 100%;
	border-radius: $br;
}

.player-bar-progress {
	background-color: lighten($highlight-1, 30%);
	height: 100%;
	border-radius: $br;
}

.player-image, .player-description {
	cursor: pointer;
}

.desktop-player {
	grid-area: desktop-player;
	display: none;
	font-family: 'Roboto Mono';

	& svg {
		@include colourTransition($highlight-1, white);
	}
}

.desktop-player-description {
	grid-area: desktop-player-description;
	display: none;
}

@media only screen and (min-width: $breakpoint) {
	.player {
		grid-template-columns: 1fr 50px;
		grid-template-rows: minmax(150px, 1fr) 50px 2fr;

		grid-template-areas:
			"player-image player-image"
			"desktop-player desktop-player"
			"desktop-player-description desktop-player-description";

		width: inherit;
		background: $main;
		border-radius: $br;
		height: calc(100% - 5px * 2);
		color: $highlight-1;
		margin: 5px;
	}

	.player-image, .player-description {
		cursor: inherit;
	}

	.player-bar, .player-button, .player-description {
		display: none;
	}

	.desktop-player {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-left: 10px;
		padding-right: 10px;

		& p {
			cursor: default;
		}
	}

	.player-image {
		margin: 5px;
		border-radius: $br;
		background-color: $border;
	}

	.desktop-player-description {
		display: inline;
		padding: 10px;
	}
}

.player-range-bar {
	height: 5px;
	width: 50%;
	border-radius: 5px;
	-webkit-appearance: none;
	@include gradientBg();

	//https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
  &::-webkit-slider-thumb {@include sliderThumb();}
	&::-moz-range-thumb     {@include sliderThumb();}
}
