@import 'styling/constants.scss';

$padding: 10px;

.signin {
  background-color: $main;
  width: calc(100% - #{$padding} * 2);
  padding: $padding;
  min-height: calc(100vh - #{$padding} * 2);
  color: $highlight-1;
}

.signin-inner {
  width: 100%;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  & button {
    @include centerContent();
    @include gradientBg();
    border: 0px;
    padding: 10px;
    border-radius: $br;
    margin-bottom: 10px;
    font-size: 1rem;

    & svg {
      margin-right: 10px;
    }
  }
}

.intro {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-gap: 10px;

  & .intro-image {
    object-fit: contain;

    & img {
      width: 100%;
      height: 100%;
      max-width: 50vw;
      border-radius: $br;
      border: 2px solid $border;
    }
  }

  & .intro-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: $breakpoint) {
  .signin-inner {
    width: $breakpoint;

    & button {
      @include colourTransition($main, white);
    }
  }

  .intro {
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%;
  }
}
