@import 'styling/constants';

.dashboard {
  display: grid;

  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "titlebar"
    "main"
		"player";

  height: 100vh;
  overflow-y: hidden;
}

.refresh-button, .menu-button, .resync-button {
	@include centerContent();
	@include colourTransition($main, white);
}

.titlebar {
	grid-area: titlebar;
  display: grid;
	grid-template-columns: 50px 1fr 50px 50px;

	@include gradientBg();
	color: $main;
	cursor: default;
}

.title {
	width: calc(100vw - 50px * 3);
	height: 45px;
	margin-top: auto;
	margin-bottom: auto;
}

.main {
	grid-area: main;
  background-color: $main;
	overflow-y: scroll;
	color: $highlight-1;
}

.title-text {
	margin: 0px;
	height: 45px;
	display: flex;
	align-items: center;
  font-weight: 500;
}

@media only screen and (min-width: $breakpoint) {
	.dashboard {
	  grid-template-rows: 50px 1fr;
		grid-template-columns: 1fr 1fr;
	  grid-template-areas:
	    "titlebar player"
	    "main player";

		background-color: $border;
	}

  .titlebar {
    margin-top: 5px;
  }

	.main, .titlebar {
    margin-left: 5px;
	}

	.titlebar {
		@include topRounded();
	}

	.main {
		height: calc(100% - 5px);
		@include bottomRounded();
	}

	.title {
		width: calc(50vw - 50px * 3 - 5px * 2);
	}
}
