@import 'styling/constants';

.sidenav-item {
	display: grid;
  grid-template-columns: 50px 1fr;
  padding-left: 10px;

  & > * {
    padding: 5px;
  }

  margin-bottom: 10px;
}

.sidenav-icon {
  @include centerContent();

  & img {
    @include imageFit();
  }
}

.bm-cross-button {
  display: none;
}

.bm-overlay, .bm-menu-wrap {
	left: 0px;
	top: 0px;
}

.bm-menu-wrap {
	background-color: $main;
	transition: 0.25s all !important;
  color: $highlight-1;
}

.bm-burger-button {
	position: relative;

	height: 24px;
}

@media only screen and (min-width: $breakpoint) {
	.sidenav-item {
		@include colourTransition($highlight-1, white);
	  @include gradientAnimation($main, $highlight-1, $highlight-2, 0.25s, $br);
	}
}
