@import 'styling/constants';

* {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 400;
}

h2, h3 {
  font-weight: 500;
}

a {
	color: $highlight-2;
}

body {
	margin: 0px;
}

// spin animation
@keyframes spin {
  100% {
    transform:rotate(360deg);
  }
}

// Input placeholder colour.
$placeholder: mix($highlight-1, $border, 75%);
// These have to be seperate :^(
::-webkit-input-placeholder {color: $placeholder;}
::-moz-placeholder          {color: $placeholder;}
::-ms-placeholder           {color: $placeholder;}
::placeholder               {color: $placeholder;}
