$gap: 5px;

body {
	margin: 0px;
}

.dashboard {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: minmax(150px, 1fr) 50px 2fr;
	grid-template-areas:
		"browser playing-image"
		"browser player"
		"browser playing";
	height: calc(100vh - #{$gap} * 2);
	padding: $gap;
	grid-gap: $gap;
}

.titlebar {
	grid-area: titlebar;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.titlebar-left {
	display: flex;
	align-items: center;

	& * {
		margin-right: 20px;
	}
}

.feed-entry {
	padding: 10px;
}

.browser {
	grid-area: browser;

	display: grid;
	grid-template-rows: 50px 1fr 50px;

	grid-template-areas:
		"titlebar"
		"browser-content"
		"browser-input";
}

.browser-content {
	overflow-y: scroll;
}

.browser-input {
	grid-area: browser-input;

	display: flex;
	align-items: center;

	padding: 10px;
}

.browser-input svg, .tag-entry svg {
	margin-right: 5px;
}

.browser-input input, .tag-entry input {
	width: 100%;
	padding: 5px;
}

.playing {
	grid-area: playing;

	display: grid;
	grid-template-rows: 1fr 50px;
	grid-template-areas:
		"playing-info"
		"tag-entry";
}

.playing-info {
	padding: 10px;
	overflow-y: scroll;
}

.tag-entry {
	grid-area: tag-entry;

	display: flex;
	align-items: center;
	padding: 10px;
}

.player {
	grid-area: player;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 10px;
}

.player-bar {
	height: 5px;
  width: 50%;

	&::-webkit-slider-thumb, &::-moz-range-thumb {
		height: 15px;
    width: 15px;
	}
}

.playing-image {
	grid-area: playing-image;
	padding: 0px !important;

	display: flex;
	justify-content: center;

	& > img {
		height: 100%;
		width: 100%;
		object-fit: contain;
	}
}

.browser-item {
	display: flex;
	align-items: center;
	padding: 10px;
	margin-top: 10px;
	cursor: pointer;

	& > img {
		height: 100px;
	}
}

.episode-description {
	padding: 10px;
}

.feed-description {
	width: 100%;
	display: flex;
	justify-content: space-between;

	& * {
		margin: 5px;
	}
}

.x-button {
	height: 100%;
}

.tags {
	display: flex;
	flex-wrap: wrap;
}

.tag {
	display: inherit;

	& > p {
		margin: 0px;
		margin-right: 5px;
	}
}

.settings-modal {
  margin: 50px;
  height: calc(100% - 50px * 2);
}

.settings-title {
  display: flex;
  align-items: center;
}

.settings-modal-overlay {
	position: fixed;
	inset: 0px;
}

.signin-outer {
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.signin {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.signin-button {
	display: flex;
	align-items: center;
}
