$gap: 5px;

body {
	margin: 0px;
}

.dashboard {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: minmax(150px, 1fr) 50px 2fr 50px;
	grid-template-areas:
		"browser playing-image"
		"browser playing"
		"browser playing-info"
		"browser tag-entry";
	height: calc(100vh - #{$gap} * 2);
	padding: $gap;
	grid-gap: $gap;
}

$titlebarheight: 50px;

.titlebar {
	display: flex;
	align-items: center;
	height: calc(#{$titlebarheight} - 10px * 2);

	padding: 10px;

	& > * {
		margin-right: 10px;
	}
}

.feed-entry {
	padding: 10px;
}

.browser {
	grid-area: browser;
}

.browser-content {
	overflow-y: scroll;
	height: calc(100% - #{$titlebarheight});
}

.playing-info {
	grid-area: playing-info;
	padding: 10px;
	overflow-y: scroll;
}

.tag-entry {
	grid-area: tag-entry;
	padding: 10px;
}

.player {
	grid-area: playing;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 10px;
}

.player-bar {
	height: 5px;
  border-radius: 5px;
  width: 50%;
}

.playing-image {
	grid-area: playing-image;
	padding: 0px !important;

	display: flex;
	justify-content: center;

	& > img {
		height: 100%;
		width: 100%;
		object-fit: contain;
	}
}

.browser-item {
	display: flex;
	align-items: center;
	padding: 10px;
	margin-top: 10px;

	& > img {
		height: 100px;
	}
}

.item-description {
	width: 100%;
	display: flex;
	justify-content: space-between;

	& > * {
		margin: 5px;
	}
}

.x-button {
	height: 100%;
}

.tags {
	display: flex;
	flex-wrap: wrap;
}

.tag {
	display: inherit;

	& > p {
		margin: 0px;
		margin-right: 5px;
	}
}
