@import 'constants';

* {
  font-family: "Helvetica Neue";
  font-weight: 400;
}

body {
	margin: 0px;
	overflow-y: hidden;
}

.dashboard {
  display: grid;

  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "titlebar"
    "main"
		"player";

  height: 100vh;
}

.refresh-button {
	grid-area: refresh-button;
}

.refresh-button, .menu-button {
	@include centerContent();
}

.titlebar {
	grid-area: titlebar;
  display: grid;
	grid-template-columns: 50px 1fr 50px;
	grid-template-areas: "menu-button title refresh-button";

	background-image: linear-gradient($highlight-1, $highlight-2);
	color: $main;
}

.title {
	grid-area: title;
	width: calc(100vw - 50px * 2);
	height: 45px;
	margin-top: auto;
	margin-bottom: auto;
}

.main {
	grid-area: main;
  background-color: $main;
	overflow-y: scroll;
	color: $highlight-1;
}

.item {
	display: flex;
	align-items: center;
	transition: 0.25s all;
	@include gradientAnimation($main, $highlight-1, $highlight-2, 0.25s, $br);

	&:hover {
		color: white;
	}
}

.item, .item-inner {
	padding: 5px;
}

.item img {
	height: 75px;
	width: 75px;
	object-fit: contain;
}

.item-inner p, .item-inner h2 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.search {
	display: grid;
	grid-template-rows: 1fr 50px;
	grid-template-areas:
		"search-body"
		"search-input";

	height: 100%;
	overflow-y: scroll;
	width: 100%;
}

.search-body {
	grid-area: search-body;
	width: 100%;
	overflow-y: scroll;

}

.search-input {
	grid-area: search-input;
	padding: 10px;
}

.search-input-inner {
	border: 0px;
	border-radius: 10px;
	background-color: $border;
	width: 100%;
	height: 100%;
	color: $highlight-1;
}

.episode-view {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.episode-view img {
	width: 50%;
}

.episode-player {
	display: flex;
	align-items: center;

	& > * {
		margin: 5px;
	}
}

@media only screen and (min-width: 46.875em) {
	.dashboard {
	  grid-template-rows: 50px 1fr;
		grid-template-columns: 1fr 1fr;
	  grid-template-areas:
	    "titlebar player"
	    "main player";

		padding: 5px;
		background-color: $border;
	}

	.main, .titlebar {
		margin-right: 5px;
	}

	.titlebar {
		@include topRounded();
	}

	.main {
		height: calc(100% - 5px * 2);
		@include bottomRounded();
	}

	.title {
		width: calc(50vw - 50px * 2 - 5px * 2);
	}
}


.title-text {
	margin: 0px;
	height: 45px;
	display: flex;
	align-items: center;
}

.add-feed {
	display: flex;
	align-items: center;
	padding: 10px;

	& input {
		border: 0px;
		border-radius: 10px;
		background-color: $border;
		width: 100%;
		height: 100%;
		color: $highlight-1;
		height: 25px;
		padding: 5px;
	}
}
