


$border: #241734;
$main: #2e2157;
$highlight-1: #fd3777;
$highlight-2: #fd1d53;
$br: 10px;

@mixin topRounded() {
  border-top-left-radius: $br;
  border-top-right-radius: $br;
}

@mixin bottomRounded() {
  border-bottom-left-radius: $br;
  border-bottom-right-radius: $br;
}

a {
  color: $highlight-2;
}

.browser-item, .feed-entry, .player, .settings-modal, .signin {
	border-radius: $br;
	background-color: $main;
}

.playing-info {
  background-color: $main;
  @include topRounded();
}

.signin-button {
  background-image: linear-gradient($highlight-1, $highlight-2);
  border: 0px;
  color: $main;
  border-radius: $br;
  transition: 0.25s all;

  padding: 10px;
  font-size: 20px;
  cursor: pointer;

  & * {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
  }

  &:hover {
    color: white;
  }
}

.signin {
  color: white;

  & > svg {
    color: $highlight-1;
  }
}

.settings-title {
  @include topRounded();
  padding: 10px;
  color: $main;

  & > svg {
    transition: 0.25s all;

    &:hover {
      color: white;
    }
  }

  & > * {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.settings-modal {
  outline: none;
}

.settings-modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.settings-content {
  padding: 10px;
}

.player-bar {
  -webkit-appearance: none;
  background-image: linear-gradient($highlight-1, $highlight-2);
  border-radius: 5px;

  //https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
  &::-webkit-slider-thumb, &::-moz-range-thumb {
    -webkit-appearance: none;
    border: none;
    border-radius: 15px;
    background-image: linear-gradient($highlight-1, $highlight-2);
  }
}

.tag, .titlebar, .settings-title {
  background-image: linear-gradient($highlight-1, $highlight-2);
}

.browser-content {
	background-color: $main;
}

.tag-entry, .browser-input {
  @include bottomRounded();
  background-color: $main;
}

.browser-input input, .tag-entry input {
  background-color: $border;
  border-radius: $br;
}

.browser-input input, .tag-entry input {
	font-size: 20px;
	border: none;
	margin-right: 0px;
}

.player > svg {
	transition: 0.25s all;

	&:hover {
		color: white;
    cursor: pointer;
	}
}

.titlebar {
	@include topRounded();
}

.titlebar-left > h1 {
  color: white;
}

.titlebar > svg, .titlebar-left > svg {
  color: $main;
  transition: 0.25s all;

  cursor: pointer;

  &:hover {
    color: white;
  }
}

body {
	background-color: $border;
}

.tag-entry {
	border: none;
	font-size: 25px;
}

.playing-image {
	border-radius: $br;
	background-color: darken($border, 2.5%);
}

.browser-item {
	@include gradientAnimation($main, $highlight-1, $highlight-2, .25s, $br);

	&:hover {
		color: white;

		& .x-button {
			color: $main;
			transition: 0.25s all;

			&:hover {
				color: white;
			}
		}
	}
}

* {
  font-family: "Helvetica Neue";
  font-weight: 400;
}

.dashboard, .dashboard input, .dashboard button, .settings-modal {
    color: $highlight-1;
}

.tag {
  color: $main;
  padding: 5px;
  border-radius: 1em;
  transition: 0.25s all;
  margin: 5px;

  & > * {
    transition: 0.25s all;
  }

  &:hover p, & svg:hover {
    color: white;
  }
}

.center {
  text-align: center;
}

@media only screen and (max-width: 46.875em) {
  .titlebar, .playing-info, .browser, .feed-entry {
    font-size: 0.75em;
  }

  .titlebar {
    border-radius: 0px;
  }

  .browser-content {
    @include topRounded();
  }
}
